<form (ngSubmit)="onUpdate()">
    <div class="form-group">
        <label for="pname"> Product Name </label>
        <input type="text" class="form-control" id="pname" required [(ngModel)]="product.pname" name="pname" />
    </div>
    <div class="form-group">
        <label for="pname"> Product Category </label>
        <select [(ngModel)]="product.category">
            <option *ngFor="let c of categories"> {{c}} </option>
         </select>
    </div>
    <div class="form-group">
        <label for="stock"> Product Stock </label>
        <input type="number" class="form-control" id="stock" required [(ngModel)]="product.stock" name="stock" />
    </div>
    <div class="form-group">
        <label for="min_bvalue"> Minimum Bid Value </label>
        <input type="number" class="form-control" id="min_bvalue" required [(ngModel)]="product.min_bvalue" name="min_bvalue" />
    </div>
    <div class="form-group">
        <label for="max_bvalue"> Maximum Bid Value </label>
        <input type="number" class="form-control" id="max_bvalue" required [(ngModel)]="product.max_bvalue" name="max_bvalue" />
    </div>
    <!--
        <div class="form-group">
        <label for="pimage">Upload Product Image </label>
        <input type="file" class="form-control" id="pimage" required [(ngModel)]="product.pimage" name="pimage" (change)="handleFileInput($event.target.files)" />
    </div>-->   
    <button type="submit" class="btn btn-success"> Submit </button> 
</form>