
<div>
    <table border="1">
    <tr><th>DistributorName</th><th>ProductCategory</th><th>ProductName</th><th>BidValue</th><th>Quantity</th><th>Date</th></tr>
   <!-- <tr *ngFor="let bid of currentList ">
        <td>{{distributor.cname}}</td> 
    </tr>-->
    <tr *ngFor="let bid of currentList ">
        <!-- <td>{{distributor.cname}}</td> -->
        <td>{{product.category}}</td>
         <td>{{product.pname}}</td>
        <td>{{bid.bvalue}}</td>
        <td>{{bid.stock}}</td>
        <td>{{bid.bid_date}}</td>
    </tr>    
</table>
<br/>
</div>