<div class="row container-fluid" id="nav">
    <div class="col"><a href="#" (click)="goBack()">Go Back</a></div>
    <div class="col"><a routerLink="/bids">Show Bids</a></div>
    <div class="col"><a routerLink = "/distributorsList"> Distributor List </a></div>
    <!-- <div class="col"><a routerLink = "/manufacturerList" (click)="setPreviousURL()"> Manufacturer :ist </a></div> -->
    <div class="col"><a routerLink = "/adminTransactions" > Admin Generation </a></div>
    <div class="col"><a routerLink = "/distributorTransaction"> Report Generation </a></div>
    <div class="col"><a routerLink = "/login"> Log Out </a></div>
  </div>
  
  <div class="row jumbotron">
    <table class="table table-bordered">
      <thead>
          <th>User Email</th>
          <th>Contact Number</th>
          <th>User Type</th>
          <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td> {{user.email}} </td>
          <td> {{user.contact_no}} </td>
          <td> {{user.utype}} </td>
          <td> <button class="btn btn-light" (click)="valid(user)">Authorize</button> </td>
        </tr>
      </tbody> 
    </table>
  </div>
  