#bidFilter {
    height: 400px;
    width: 700px;
    position: absolute;
    top: 10%;
    left: 0%;
}
#categoryFilter {
    height: 400px;
    width: 700px;
    position: absolute;
    top: 10%;
    left: 20%;
}
#stateFilter {
    height: 400px;
    width: 700px;
    position: absolute;
    top: 10%;
    left: 40%;
}
table {
    margin-top: 20%;
}