<div class="AddressForm">
    <div class="heading">
      <h5>  Step : III<br/>
        Add Address</h5>
    </div> 
        <div class="addr">
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
   
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                 <label for="line1"> Line1 </label>
                 </div>
                 <div class="col">
                    <p [ngClass]="{ 'has-error': isSubmitted && formControls.line1.errors }">
                         <input type="text" class="form-control" id="line1" [(ngModel)]="address.line1" name="line1" formControlName="line1" required/>
                    </p>
                 </div>
                 <br/>
                 <span *ngIf="isSubmitted && formControls.line1.errors" class="help-block">
                    <span *ngIf="formControls.line1.errors.required">please enter line 1..</span>
                  </span>
            </div>
        </div>   

    <div class="form-group">
        <div class="form-row">
            <div class="col">
             <label for="line2"> Line2 </label>
             </div>
             <div class="col">
                <p [ngClass]="{ 'has-error': isSubmitted && formControls.line2.errors }">
                    <input type="text" class="form-control" id="line2" [(ngModel)]="address.line2" name="line2" formControlName="line2" required/>
               </p>
              </div>
              <br/>
                 <span *ngIf="isSubmitted && formControls.line2.errors" class="help-block">
                    <span *ngIf="formControls.line2.errors.required">please enter line 2..</span>
                  </span>
        </div>
    </div>   


    <div class="form-group">
        <div class="form-row">
            <div class="col">
            <label for="area"> Area </label>
            </div>
            <div class="col">
                <p [ngClass]="{ 'has-error': isSubmitted && formControls.area.errors }">
                    <input type="text" class="form-control" id="area" [(ngModel)]="address.area" name="area" formControlName="area" required/>
               </p>
             </div>
             <br/>
                 <span *ngIf="isSubmitted && formControls.area.errors" class="help-block">
                    <span *ngIf="formControls.area.errors.required">please enter area..</span>
                  </span>
        </div>
    </div>


    <div class="form-group">
        <div class="form-row">
            <div class="col">
            <label for="pin_code"> Pincode </label>
            </div>
            <div class="col">
                <p [ngClass]="{ 'has-error': isSubmitted && formControls.pin_code.errors }">
                    <input type="text" class="form-control" id="pin_code" [(ngModel)]="address.pin_code" name="pin_code" formControlName="pin_code" required/>
               </p>
             </div>
             <br/>
                 <span *ngIf="isSubmitted && formControls.pin_code.errors" class="help-block">
                    <span *ngIf="formControls.pin_code.errors.required">please enter pin_code..</span>
                  </span>
        </div>
    </div>


    <div class="form-group">
        <div class="form-row">
            <div class="col">
            <label for="city"> City </label>
            </div>
            <div class="col">
                <p [ngClass]="{ 'has-error': isSubmitted && formControls.city.errors }">
                    <input type="text" class="form-control" id="city" [(ngModel)]="address.city" name="city" formControlName="city" required/>
               </p>
            </div>
            <br/>
            <span *ngIf="isSubmitted && formControls.city.errors" class="help-block">
               <span *ngIf="formControls.city.errors.required">please enter city..</span>
             </span>
        </div>
    </div>


    <div class="form-group">
        <div class="form-row">
            <div class="col">
             <label for="state"> State </label>
             </div>
             <div class="col">
                <p [ngClass]="{ 'has-error': isSubmitted && formControls.state.errors }">
                    <select class="form-control" id="state" [(ngModel)]="address.state" name="state" formControlName="state" required>
                        <option *ngFor="let state of states" [value]="state">{{ state }}</option>
                    </select>
               </p>
            </div>
            <br/>
            <span *ngIf="isSubmitted && formControls.state.errors" class="help-block">
               <span *ngIf="formControls.state.errors.required">please enter state..</span>
             </span>
         </div>
     </div>

     <div class="form-row">
        <div class="col">
        <button type="submit" class="btn btn-success" style="float: right;"> Submit </button>
        </div>
        <div class="col">
        <input class="btn btn-primary" type="reset" value="Reset">
        </div>
    </div>
</form>