<div class="AddressForm">
    <div class="heading">
        Add Address
    </div> 
        <div class="addr">
    <form (ngSubmit)="onSubmit()">
   
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                 <label for="line1"> Line1 </label>
                 </div>
                 <div class="col">
                <input type="text" class="form-control" id="line1" required [(ngModel)]="address.line1" name="line1" />
                  </div>
            </div>
        </div>   

    <div class="form-group">
        <div class="form-row">
            <div class="col">
             <label for="line2"> Line2 </label>
             </div>
             <div class="col">
            <input type="text" class="form-control" id="line2" required [(ngModel)]="address.line2" name="line2" />
              </div>
        </div>
    </div>   


    <div class="form-group">
        <div class="form-row">
            <div class="col">
            <label for="area"> Area </label>
            </div>
            <div class="col">
            <input type="text" class="form-control" id="area" required [(ngModel)]="address.area" name="area" />
             </div>
        </div>
    </div>


    <div class="form-group">
        <div class="form-row">
            <div class="col">
            <label for="pincode"> Pincode </label>
            </div>
            <div class="col">
              <input type="number" class="form-control" id="pincode" required [(ngModel)]="address.pincode" name="pincode" />
             </div>
        </div>
    </div>


    <div class="form-group">
        <div class="form-row">
            <div class="col">
            <label for="city"> City </label>
            </div>
            <div class="col">
            <input type="text" class="form-control" id="city" required [(ngModel)]="address.city" name="city" />
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="form-row">
            <div class="col">
             <label for="state"> State </label>
             </div>
             <div class="col">
             <input type="text" class="form-control" id="state" required [(ngModel)]="address.state" name="state" />
            </div>
         </div>
     </div>

     <div class="form-row">
        <div class="col">
        <button type="submit" class="btn btn-success" style="float: right;"> Submit </button>
        </div>
        <div class="col">
        <input class="btn btn-primary" type="reset" value="Reset">
        </div>
    </div>
</form>