
<app-header> </app-header> 
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<button id = "toggle"> Toggle </button>
<div class="wrapper">
  <div class="sidebar">
   
    <ul>
      <li><a href="#" (click)="onClick()"><i class="fa fa-bars"></i>MENU</a></li>
      <li><a href="#"><i class="fa fa-fw fa-home"></i>Home</a></li>
      <li><div class="dropdown">
        <button class="dropbtn"><i class="fa fa-cog fa-spin"></i>Account</button>
        <div class="dropdown-content">
          <a href="#"><i class="fa fa-fw fa-user"></i>Update Account</a>
          <a href="#"><i class="fa fa-fw fa-user"></i>Change Password</a>
        </div>
      </div></li>
      <li><a href="#"><i class="fa fa-fw fa-file"></i>Report Generation</a></li>
      <li><a href="#"><i class="fa fa-fw fa-money"></i>Revenue Generation</a></li>
    </ul>
  </div>
  <div class="main_content">
    <div class ="header">WELCOME</div>
</div>
</div>
<app-footer> </app-footer> 
