
<!-- <app-header> </app-header> -->
<!-- <div class="vertical-menu">
    <a href="#" class="active">Home</a>
    <a href="#">Account</a>
    <a href="#">report Generation</a>
    <a href="#">Revenue Management</a>
   
  </div> -->
  
  <app-header> </app-header> 
<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li><a href="#">MENU</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Report Generation</a></li>
      <li><a href="#">Revenue Generation</a></li>
    </ul>
  </div>
  <div class="main_content">
    <div class ="header">WELCOME</div>
    <div class="info">
      admin
    </div>
  </div>
</div>
<app-footer> </app-footer> 
