#nav {
    margin-top: 6%;
    margin-bottom: 2%;
}
a {
    background-color:orangered;
    color: white;
    padding: 0.5em 0.5em;
    margin-top: 20%;
    text-decoration: none;
    text-transform: uppercase;
}
table {
    margin-top: 2%;
    background-color:teal;
    color: white;
    padding: 1em 1.5em;
 }
 th {
    background-color:black;
    color: white;
}