<div class="row container-fluid" id="nav">
    <div class="col"><button type="button" class="btn btn-danger" (click)="goBack()" id="backButton"><b>Go Back</b></button></div>
    <div class="col"><a routerLink="/distributorBids">Show Bids</a></div>
    <div class="col"><a routerLink = "/manufacturerList"> Manufacturer List </a></div>
    <div class="col"><a routerLink = "/distributorTransaction"> Transaction History </a></div>
    <div class="col"><a routerLink = "/login" (click)="logOut()"> Log Out </a></div>
</div>
<div class="jumbotron" style="height: 700px;">
    <div id="content" #content>
        <table class="table table-bordered" id="reportsTable">
            <thead>
                <th>Bid ID</th>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Bid Value</th>
                <th>Quantity</th>
                <th>Location</th>
                <th>Status</th>
                <th>Date</th>
            </thead>
            <tbody>
                <tr *ngFor="let bid of bids">
                    <td>{{bid[0]}}</td>
                    <td>{{bid[1]}}</td>
                    <td>{{bid[2]}}</td>
                    <td>{{bid[3]}}</td>
                    <td>{{bid[4]}}</td>
                    <td>{{bid[5]}}</td>
                    <td *ngIf="bid[6] === 1; else elseBlock"> Approved </td>
                    <ng-template #elseBlock> <td> Pending </td> </ng-template>
                    <td>{{bid[7]}}</td>
                </tr>
            </tbody>    
        </table>
    </div>
</div>