
.information{
font-weight: 500;
font-size: 15px;

}
// div {
//    // opacity: 0.8;
//   //  height: 300px;
//      width: 500px;
//     margin-top: 10%;
//    margin-left: 50%;
//     background-color:gray;
//     color:white;
// }
// .jumbotron{
 //   float:right;}
a {
    background-color:orangered;
    color: white;
    padding: 0.6em 1em;
    margin-top: 20%;
    text-decoration: none;
    text-transform: uppercase;
}
#pageBody {
    background-color: teal;
    min-height: 660px;
    max-width: 1380px;
}
#nav {
    margin-top: 6%;
    margin-bottom: 2%;
}
#bidFilter {
    height: 400px;
    width: 700px;
    position: absolute;
    top: 20%;
    left: 0%;
}
#categoryFilter {
    height: 400px;
    width: 700px;
    position: absolute;
    top: 20%;
    left: 20%;
}
#stateFilter {
    height: 400px;
    width: 700px;
    position: absolute;
    top: 20%;
    left: 40%;
}
table {
    margin-top: 2%;
    background-color:teal;
    color: white;
    padding: 1em 1.5em;
 }
 th {
    background-color:black;
    color: white;
}