
.information{
font-weight: 500;
font-size: 15px;

}
// div {
//    // opacity: 0.8;
//   //  height: 300px;
//      width: 500px;
//     margin-top: 10%;
//    margin-left: 50%;
//     background-color:gray;
//     color:white;
// }
// .jumbotron{
 //   float:right;}
a {
    background-color:orangered;
    color: white;
    padding: 1em 1.5em;
    margin-top: 20%;
    text-decoration: none;
    text-transform: uppercase;
}
#pageBody {
    background-color: teal;
    min-height: 660px;
    max-width: 1380px;
}