
.information{
font-weight: 500;
font-size: 15px;

}
// div {
//    // opacity: 0.8;
//   //  height: 300px;
//      width: 500px;
//     margin-top: 10%;
//     margin-left: 50%;
//     background-color:gray;
//     color:white;
// }
.jumbotron{
    float:right;
}