<div id="pageBody" class="row container-fluid-100">
    <div class="col-3 mt-2 text-center"><br/><br/><br/>
        <button type="button" class="btn btn-dark btn-lg" (click)="someFunc()">Go Back</button><br/><br/>
        <a routerLink = "/list"> Update Account </a> <br/><br/><br/>
        <a routerLink = "/entry"> Browse Bids </a> <br/><br/><br/>
        <a routerLink = "/update"> Report Generation </a> <br/><br/><br/>
        <a routerLink = "/login" (click)="logOut()"> Log Out </a>            
    </div>
    <div class="col ml-2">
        <app-product-list> </app-product-list>
    </div>
</div>

<div class="jumbotron">
    <table border="1">
        <tr *ngFor="let product of products | async">
            <!-- <td> {{product.pid}} </td> -->
            <!-- <td> {{product.pname}} </td>
            <td> {{product.category}} </td>
            <td> {{product.stock}} </td>
            <td> {{product.min_bvalue}} </td>
            <td>  {{product.min_bvalue}} </td>
            <td>{{product.pimage}}</td> -->
            <div class="info">
               <label class="information"> PRODUCT NAME:</label> {{product.pname}}<hr/>
               <label class="information">CATEGORY:</label> {{product.category}} <br/>
                <label class="information">STOCK: </label> {{product.stock}} <br/>
                <label class="information">BID RANGE:</label> {{product.min_bvalue}} -  {{product.max_bvalue}}
 <!-- <div class="pimage"> <img ng-src="{{file.Path}}" alt="{{file.Name}}.jpg" style="height: 100px; width: 100px" /></div> --><br/><br/>
            </div>
            <td> <button class="e-info" (click)="placeBid()" style="background-color:skyblue"> Place Bid </button></td>
           
        </tr>
    </table>
    <br/>
    <button (click)="logOut()"> Log Out </button>
    </div>
</div>
