<!-- <div id="pageBody" class="row container-fluid-100">
    <div class="col-3 mt-2 text-center"><br/><br/><br/>
        <button type="button" class="btn btn-dark btn-lg" (click)="someFunc()">Go Back</button><br/><br/>
        <a routerLink = "/list"> Update Account </a> <br/><br/><br/>
        <a routerLink = "/entry"> Browse Bids </a> <br/><br/><br/>
        <a routerLink = "/update"> Report Generation </a> <br/><br/><br/>
        <a routerLink = "/login" (click)="logOut()"> Log Out </a>            
    </div>
    <div class="col ml-2"> -->
        

<div class="row container-fluid" id="nav">
    <div class="col-4 mt-4"><br/> 
        <a routLink="/productList" routerLinkActive="active">Product List</a>
        <a routerLink = "/distributorsList"> Distributor List </a> <br/><br/>
        <a routerLink = "/addDistributor"> Create Distributor</a> <br/><br/>
        <a routerLink = "/reportDistributor"> Report Generation </a>            
    </div>

<div class="jumbotron">
    <table border="1">
        <thead>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Product Stock</th>
            <th>Minimum Bid Value</th>
            <th>Maximum Bid Value</th>
            <!-- <th>Location</th> -->
            <th>Product Image</th>

          </thead>
          <tbody>
        <tr *ngFor="let product of products | async">
           <td> {{product.pname}} </td>
            <td> {{product.category}} </td>
            <td> {{product.stock}} </td>
            <td> {{product.min_bvalue}} </td>
            <td>  {{product.min_bvalue}} </td>
            <td>{{product.pimage}}</td>
           
           
 <!-- <div class="pimage"> <img ng-src="{{file.Path}}" alt="{{file.Name}}.jpg" style="height: 100px; width: 100px" /></div> --><br/><br/>
           
            <td> <button class="e-info" (click)="placeBid(product)" style="background-color:skyblue"> Place Bid </button></td>
        </tbody>
    </table>
    <br/>
    <button (click)="logOut()"> Log Out </button>
   
</div>

