.form-group{
    background:lightblue;
    width:500px;
    color:black;
    }
    .registerForm{
        background: white;
        margin-top:100px;
        margin-left:400px;
        margin-bottom: 50px;
        width:700px;
        color:black;
        opacity: 0.8;
    }
    .form-control{
        float:right;
    }
    .name{
        background: rgb(133, 155, 177);
        margin-top:20px;
        margin-left:100px;
       
        width:500px;
        color:black;
        //font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .heading{
        color:rgb(255, 255, 255);
        font-weight: 500;
        font-size: 15px;
        text-align: center;
    }
    span{
        color:red;
        font-weight:600px;
    }