<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div class="registerForm" style="height: 500px;">
    <h1 class="display-4" style="text-align: center;"> REGISTER </h1> 
        <div class="name">
<form (ngSubmit)="onSubmit()">

    <div class="form-group">
        <div class="form-row">
            <div class="col">
            <label for="cname"> Email Address </label>
            </div>
            <div class="col">
             <input type="email" class="form-control" id="email" required [(ngModel)]="user.email" name="email" />
             </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="col">
            <label for="password"> Password </label>
            </div>
            <div class="col">
             <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password" />
             </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="col">
            <label for="confirmPassword">Confirm Password </label>
            </div>
            <div class="col">
             <input type="password" class="form-control" id="password" name="confirmPassword" />
             </div>
        </div>
    </div>


    <div class="form-group">
        <div class="form-row">
            <div class="col">
            <label for="contact_no">Contact Number </label>
            </div>
            <div class="col">
             <input type="number" class="form-control" id="contact_no" required [(ngModel)]="user.contact_no" name="contact_no" />
             </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="col">
            <label for="utype">User Type</label>
            </div>
            <div class="col">
                <select [(ngModel)]="user.utype" name="utype">
                    <option *ngFor="let u of utype" [ngValue]="u"> {{u}} </option>
                </select>
             </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row" style="margin-top: 2%;">
            <div class="col"><input class="btn btn-success btn-lg" type="submit" value="Next" style="margin-left: 15%;"></div>
            <div class="col"><input class="btn btn-danger btn-lg" type="reset" value="Clear" style="margin-left: 25%;"/> </div>
        </div>
        <div class="form-row">
            <a routerLink = "/login" class="btn btn-warning btn-lg" style="margin-left: 25%; margin-top: 2%;"> Existing User..? Sign In </a>
        </div>
    </div>
</form>
