a {
    background-color:teal;
    color: white;
    padding: 0.5em 0.5em;
    margin-top: 20%;
    text-decoration: none;
    text-transform: uppercase;
}
#nav {
    margin-top: 6%;
    margin-bottom: 2%;
    display: flex;
}
#bidFilter {
    float: left;
    width: 200px;
 }
#categoryFilter {
    float: left;
    width: 250px;
    margin-left: 5%;
}
#stateFilter {
    float: left;
    width: 250px;
    margin-left: 5%;
}
table {
    margin-top: 2%;
    background-color:teal;
    color: white;
    padding: 1em 1.5em;
 }
 th {
    background-color:black;
    color: white;
}
#clearButton {
    margin-left: 45%;
    margin-top: 60%;
    padding: 0.5rem 0.75rem;
}