<div class="row container-fluid">
    <div class="col-4 mt-4"><br/> 
        <a routerLink="/productMaufacturerList" routerLinkActive="active">Product List</a><br/><br/>
        <a routerLink = "/addManufacturer"> Create Maufacturer</a> <br/><br/>
        <a routerLink = "/reportMaufacturer"> Report Generation </a><br/><br/>          
    </div>
    <div class="col ml-4">
      <h1 class = "display-2"> Welcome </h1>
    </div>
</div>




<!--
<div class="jumbotron">
    <table border="1">
        <tr *ngFor="let product of products | async">
            <td> {{product.pid}} </td>
            <td> {{product.pname}} </td>
            <td> {{product.category}} </td>
            <td> {{product.stock}} </td>
            <td> {{product.min_bvalue}} </td>
            <td> {{product.max_bvalue}} </td>
            <td> <button (click)="update(product.pid)"> Update </button></td>
            <td> <button (click)="delete(product.pid)"> Delete </button></td>
        </tr>
    </table>
    <br/>
    <button (click)="logOut()"> Log Out </button>
    </div>-->

    <!-- <app-product-list></app-product-list> -->
