
<div class="distributorForm">
    <div class="heading">
        <h5>  Step : II
        <br/>DISTRIBUTOR</h5>
    </div> 
        <div class="name">
<form [formGroup]="distributorLoginForm"(ngSubmit)="onSubmit()">

    <div class="form-group">
        <div class="form-row">
            <div class="col">
                 <label for="cname"> Company Name </label>
            </div>
            <div class="col">
              <p [ngClass]="{ 'has-error': isSubmitted && formControls.cname.errors }">
              <input type="text" class="form-control" id="cname" name="cname" [(ngModel)]="distributor.cname" formControlName="cname" required />
              </p> 
            </div>
            <br/>
        </div>
        <div class="form-row" style="float: right;">
            <span *ngIf="isSubmitted && formControls.cname.errors" class="help-block">
                <span *ngIf="formControls.cname.errors.required"><b style="color: red;">Please enter the company name!!</b></span>
            </span>
         </div>
     </div>
    <button type="submit" class="btn btn-success"> Submit </button> 
</form>