
<!--<div class="distributorForm">
    <div class="heading">
       DISTRIBUTOR
    </div> 
        <div class="name">
<form [formGroup]="distributorLoginForm"(ngSubmit)="onSubmit()">

    <div class="form-group">
        <div class="form-row">
            <div class="col">
             <label for="cname"> Company Name </label>
            </div>
            <div class="col">
            <input type="text" class="form-control" id="cname" name="cname" [(ngModel)]="distributor.cname" formControlName="cname" required />
            <div *ngIf="cname.invalid && (name.dirty||name.touched)" class="alert alert-danger">
                <div *ngIf="cname.errors.required">Company name required!!</div>
            </div>
            <span *ngIf="isSubmitted && formControls.cname.invalid && formControls.cname.touched" class="help-block">
                <span *ngIf="formControls.cname.errors.required">Please enter the company name!!</span>
            </span>
         </div>
     </div>
    
    
    <button type="submit" class="btn btn-success"> Submit </button> 
</form>-->