<div class="manufacturerForm">
    <div class="heading">
      <h5>  Step : II<br/>
      MANUFACTURER</h5>
    </div> 
<div class="name">
<form [formGroup]="manufacturerLoginForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <label for="cname"> Company Name </label>
            </div>
            <div class="col">
                <p [ngClass]="{ 'has-error': isSubmitted && formControls.cname.errors }">
                    <input type="text" class="form-control" id="cname"  [(ngModel)]="manufacturer.cname"  formControlName="cname" name="cname" required/>
                </p>
            </div>
            <br/>
            <span *ngIf="isSubmitted && formControls.cname.errors" class="help-block">
                 <span *ngIf="formControls.cname.errors.required">Company name required!!</span> 
            </span> 
           
        </div>
    </div>
   
   
    <button type="submit" class="btn btn-success"> Submit </button> 
</form>
</div>
</div>