.form-group{
    background:lightblue;
    width:500px;
    color:black;
    }
    .manufacturerForm{
        background: rgb(51, 53, 54);
        margin-top:100px;
        margin-left:400px;
        margin-bottom: 50px;
        width:700px;
        color:black;
        opacity: 0.9;
    }
    .form-control{
        float:right;
    }
    .name{
        background: rgb(23, 27, 31);
        margin-top:20px;
        margin-left:100px;
       
        width:500px;
        color:black;
        //font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .heading{
        color:white;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
    }
    