<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="line1"> Line1</label>
        <input type="text" class="form-control" id="line1" required [(ngModel)]="address.line1" name="line1" />
    </div>
    <div class="form-group">
        <label for="line2"> Line2 </label>
        <input type="text" class="form-control" id="line2" required [(ngModel)]="address.line2" name="line2" />
    </div>
    <div class="form-group">
        <label for="area"> Area </label>
        <input type="text" class="form-control" id="area" required [(ngModel)]="address.area" name="area" />
    </div>
    <div class="form-group">
        <label for="pincoode"> Pincoode </label>
        <input type="number" class="form-control" id="pincode" required [(ngModel)]="address.pincode" name="pincode" />
    </div>
    <div class="form-group">
        <label for="city"> City </label>
        <input type="text" class="form-control" id="city" required [(ngModel)]="address.city" name="city" />
    </div>
    <div class="form-group">
        <label for="state"> State </label>
        <input type="text" class="form-control" id="state" required [(ngModel)]="address.state" name="state" />
    </div>

    <button type="submit" class="btn btn-success"> Submit </button> 
</form>