
<a routerLink = "address"> Show Address </a> <br/>
<a routerLink = "addAddress"> Create Address </a> <br/>
<router-outlet> </router-outlet>

<!-- Header -->

<a routerLink = "products"> Show Products </a> <br/>
<a routerLink = "addProduct"> Create Product </a> <br/>
<app-user-login> </app-user-login>
 <router-outlet> </router-outlet> 

<a routerLink = "manufacturers"> Show Manufacturer </a> <br/>
<a routerLink = "addManufacturer"> Create Manufacturer </a> <br/>
<router-outlet> </router-outlet>

<a routerLink = "distributors"> Show Distributor </a> <br/>
<a routerLink = "addDistributor"> Create Distributor </a> <br/>
<router-outlet> </router-outlet>
<!-- Footer : Project Name-->

