<!-- Header -->

<!-- <a routerLink = "address"> Show Address </a> <br/>
<a routerLink = "addAddress"> Create Address </a> <br/> -->

<!-- <a routerLink = "products"> Show Products </a> <br/>
<a routerLink = "addProduct"> Create Product </a> <br/> -->

<app-user-login> </app-user-login>


<!-- <a routerLink = "manufacturers"> Show Manufacturer </a> <br/>
<a routerLink = "addManufacturer"> Create Manufacturer </a> <br/> -->

<router-outlet> </router-outlet>
<nav>
    <!-- Navigation -->
    <a  routerLink="productList"><h3>Product List </h3></a>
    <br>
    <a  routerLink="view_order_history"><h3>View History</h3></a>
    <br>
    <a  routerLink="report_generation"><h3>Generate Report</h3></a>
    <br>
  </nav>
<app-view-order-history></app-view-order-history>
<!-- Footer : Project Name-->