<div class="row container-fluid" id="nav">
    <div class="col"><a routerLink="/" (click)="goBack()">Go Back</a></div>
    <div class="col"><a routerLink="/bids" (click)="setPreviousURL()">Show Bids</a></div>
    <div class="col"><a routerLink = "/distributorsList" (click)="setPreviousURL()"> Distributor List </a></div>
    <!-- <div class="col"><a routerLink = "/addDistributor"> Create Distributor</a></div> -->
    <div class="col"><a routerLink = "/reportDistributor" (click)="setPreviousURL()"> Report Generation </a></div>
    <div class="col"><a routerLink = "/distributorTransaction" (click)="setPreviousURL()"> Transaction History </a></div>
    <div class="col"><a routerLink = "/login"> Log Out </a></div>
</div>
<div class="row jumbotron">
    <table class="table table-bordered">
        <thead>
            <th>Product Name</th>
            <th>Manufacturer Name</th>
            <th>Product Category</th>
            <th>Bid Value</th>
            <th>Quantity</th>
            <th>Location</th>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of currentList ">
                <td>{{transaction.pname}}</td>
                <td>{{transaction.mname}}</td>
                <td>{{transaction.category}}</td>
                <td>{{transaction.bvalue}}</td>
                <td>{{transaction.quantity}}</td>
                <td>{{transaction.state}}</td>
            </tr>
        </tbody>    
    </table>
</div>