<div class="productForm">
    <div class="heading">
        Add Product
    </div> 
    <div class="another">
    <form (ngSubmit)="onSubmit()" name="addProductForm">
       
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="pname" > Product Name </label>
                </div>
                <div class="col"> 
                <input type="text" class="form-control form-control-sm" id="pname" required [(ngModel)]="product.pname" name="pname" />
                </div>
            </div> 
        </div>
        
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="category" > Product Category </label>
                </div>
                <div class="col">
                <select [(ngModel)]="product.category" name="category">
                    <option *ngFor="let c of categories" [ngValue]="c"> {{c}} </option>
                </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="stock"> Product Stock </label>
                </div>
                <div class="col">  
                    <input type="number" class="form-control form-control-sm" id="stock" required [(ngModel)]="product.stock" name="stock" style="float:right"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="min_bvalue"> Minimum Bid Value </label>
                </div>
                <div class="col">
                    <input type="number" class="form-control form-control-sm" id="min_bvalue" required [(ngModel)]="product.min_bvalue" name="min_bvalue" />
                </div>   
            </div>
        </div>
   
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="max_bvalue"> Maximum Bid Value </label>
                </div>
                <div class="col">
                    <input type="number" class="form-control form-control-sm" id="max_bvalue" required [(ngModel)]="product.max_bvalue" name="max_bvalue" />
                </div> 
            </div>
        </div>
   
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="pimage">Upload Product Image </label>
                </div>
                <div class="col">
                    <input type="file" class="form-control " id="pimage" name="pimage" (change)="handleFileInput($event)" />
                </div>
            </div>
        </div>

       

        
    
        <!-- <div class="form-group">
            <label for="mid" class="control-label col-sm-2"> MID </label>
            <input type="number" class="form-control" id="mid" required [(ngModel)]="product.mid" name="mid"  />
        </div> -->
        <!-- <tr>
        <td><button type="submit" class="btn btn-success"> Submit </button> </td>
    <td> <input class="btn btn-primary" type="reset" value="Reset"></td>
    </tr> -->
    <div class="form-row">
        <div class="col">
            <button type="submit" class="btn btn-success" style="float: right;"> Submit </button>
        </div>
        <div class="col">
            <input class="btn btn-primary" type="reset" value="Reset">
        </div>
    </div>
   </form>
</div>
</div>
   
